html,
body {
    background-color: #1d1d1d;
    color: #c7c4c4;
}

canvas[resize] {
    width: 100%;
    height: 300px;
}

table {
    width: 50%;
    margin-left: 50px;
}    

db {
    background-color: #af6d6d;    
}

db_moving {
    background-color: hsl(0, 29%, 56%);    
    background-color: #cb5252;
}

transfer {
    fill: #188f28;
    color: #b11a1a; 
}
tr[class="Done"] {
    background-color: #4b4a4a;    
}

tr[class="Pending"] {
    background-color: #9504a8;    
}

tr[class="Running"] {
    background-color: #03a318;    
}

th, td {
  padding: 10px;
}