<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.12/paper-full.min.js" integrity="sha512-r9esUfqrSMX8ZbtkH9ux0uK9gnYdDO4O7aoJjNQ4Im1SvNgL64ru38cPvDKOcyNQzt6cypclmO9qxqSrbExOBw==" crossorigin="anonymous"></script>
    <script src="assets/js/script.js" type="text/paperscript" canvas="myCanvas"></script>
  </head>
  <body>
    <canvas id="myCanvas" resize></canvas>
    <div id="tasks_true"></div>
    <div id="tasks_false" style="display: none;"></div>
  </body>
</html>